CompileFlags:
  Compiler: clang
  Add:
    - --target=arm-none-eabi
    - -mcpu=cortex-m4
    - -mfpu=fpv4-sp-d16
    - -mfloat-abi=hard
    - -mthumb
    - -std=gnu11
    - -Wstrict-prototypes
    - -IC:/Keil_v5/ARM/ARMCLANG/include
    - -IC:/Keil_v5/Local/Arm/Packs/Keil/LPC4000_DFP/2.2.2/Device/Include
    - -IC:/Keil_v5/Local/Arm/Packs/ARM/CMSIS/6.2.0/CMSIS/Core/Include
  Remove:
    - -fno-PIC

InlayHints:
  Enabled: true
  ParameterNames: true

Diagnostics:
  # Usa .clang-tidy como fuente de verdad para checks y naming
  ClangTidy:
    Add:
      - readability-identifier-naming
      - readability-braces-around-statements
      - readability-else-after-return
      - readability-isolate-declaration
      - readability-magic-numbers
      - bugprone-macro-parentheses
      - misc-*
    Remove:
      - misc-const-correctness
      - misc-include-cleaner
      - misc-no-recursion
      - misc-unused-parameters
      - modernize-*
